#musicSearch, #musicSearchBtn {
    font-size: 25px;
    margin-top: 1rem;
    border-radius: 10px;
}

#musicSearch {
    height: 60px;
    width: 20rem;
    border: #6495ed90 solid 0.1rem;
}

#musicSearchBtn {
    height: 65px;
    width: 5rem;
    cursor: pointer;
}