table {
    margin-top: 1.5rem;
    border-collapse: separate;
    border-spacing: 5rem 1rem;
}

td {
    border-bottom: orange solid 1px;
}

input {
    font-size: 25px;
    height: 3rem;
    margin-top: 1rem;
}

#inputFra {
    width: 20rem;
    border: #6495ed90 solid 0.1rem;
}

#submitBtn {
    width: 5rem;
}